<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jigoo.mapper.PostMapper">
	<select id="getAllPost" resultType="com.jigoo.domain.PostVO">
		SELECT * FROM post
	</select>
	
	<insert id="createPost">
		<selectKey keyProperty="idx" order="BEFORE" resultType="long">
			SELECT MAX(idx)+1 FROM post
		</selectKey>
		INSERT INTO post(title, content, username) VALUES(#{title}, #{content}, #{username})
	</insert>
	
	<select id="getOnePost" resultType="com.jigoo.domain.PostVO">
		SELECT * FROM post WHERE idx = #{idx}
	</select>
	
	<delete id="deletePost">
		DELETE FROM post WHERE idx = #{idx}
	</delete>
	
	<update id="modifyPost">
		UPDATE post SET title = #{title}, content = #{content}
	</update>
</mapper>